



 <!DOCTYPE html>
<html lang="en">
<head>
  <title>chargeMOD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>




 {{!-- <center>
<h1>Welcome</h1>
<h3>Express Landing page</h3>
<button type="submit" onclick= "button1()" > Form</button>
<button type="submit" onclick= "hello()" > Hello Alert</button>
<button type="submit" onclick= "about()" > About</button>
 </center> --}}



<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="/images/logo.png" alt="Global">
    <p>chargeMOD</p>
  </a>
  <p class="device-notification--message">chargeMOD has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" >
            <img src="/images/logo.png" alt="Global">
            <p>chargeMOD</p>
          </a>
          <button class="header--cta cta">Get in touch with us</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
<br><br><br>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. In reprehenderit possimus tempora consectetur unde veniam velit at adipisci fugit laudantium nemo modi, magni autem, atque quod, non nisi assumenda exercitationem?

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="javascripts/functions-min.js"></script>



 <script src='/javascripts/main.js'></script>