<link rel="stylesheet" href="/stylesheets/style.css">
<center>

    <h1>Sample Form Page</h1>
  <div class="form">
    <form class="submit" >
  <input id="submit" type="text" placeholder="sample text"/>
    <button type="submit" onclick= "Submit()" > Submit</button>
  </form>

  </div>
<button type="submit" onclick= "Backtohome()" > Home</button>
</center>
<script src='/javascripts/main.js'></script>